.profile {
  display: flex;
  flex-direction: row;
  width: 880px;
  height: 120px;
  margin: 40px auto 0;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  border-width: 1px;
  color: #fff;
  gap: 18px;
  align-items: center;
  width: 415px;
  height: 77px;
  margin: 0;
}

.profile__info-line {
  display: flex;
  gap: 18px;
  width: 430px;
  align-items: center;
}

.profile__info-name {
  font-family: "Inter";
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
}

.profile__info-occupation {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.profile__info-edit {
  background-color: black;
  width: 24px;
  height: 24px;
  border-width: 1px;
  background-image: url(../images/Edit\ Button.png);
  border: 1px solid #ffffff;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px solid #ffffff;
  background-color: black;
}

@media screen and (max-width: 1024px) {
  .profile {
    width: 700px;
  }

  .profile__avatar {
    margin-right: 20px;
  }

  .profile__info-name {
    font-size: 35px;
  }
}

@media screen and (max-width: 544px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 286px;
    margin: 42px auto 0;
    padding: 0;
  }
  .profile__avatar {
    margin: 0;
  }

  .profile__info {
    width: 100%;
  }
  .profile__info-line {
    width: 244px;
    height: 22px;
    margin: 30px auto 0;
  }

  .profile__info-name {
    font-weight: 500;
    font-size: 22px;
    width: 196px;
  }

  .profile__info-occupation {
    font-size: 14px;
    margin: 14px auto 0;
    text-align: center;
  }

  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
    padding: 0;
  }
}
